hr.double {
    border-top: 3px double;
    border-bottom: none;
}

.navbar {
    background-color: #F6F4F3 ;
    padding: 0 50px;
}

.navbar-brand {
    font-family: 'Roboto Mono', monospace;
    font-weight: medium;
    font-size: 2em;
    color: #676767;
}

.container-fluid {
    border-bottom: 2px solid #CDCDCD;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #86654B;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #86654B;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .signout-button {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #86654B;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #86654B;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .signout-button:hover {
    background-color: #86654B;
    border-color: white;
    color: white;
}

body {
    padding-top: 20px;
    background-color: #F6F4F3;
}

#icon{
    font-size: 175px;
}

#taskPageBtn {
    height: 500px;
    background-color: #DDEFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
}

#routePageBtn {
    height: 500px;
    background-color: #fcfcd2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
}

#eventPageBtn {
    height: 500px;
    background-color: #d6fcd2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
}

.card-header span {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    font-weight: medium;
    color: #9ABCDB;
    
}

.card-body {
    font-style: italic;
    color: #9ABCDB;
    display: flex;
    justify-content: flex-start; 
    flex-direction: row;
    text-align: center;
}

.headerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.card-text{
    font-family: 'Roboto Mono', monospace;
    font-weight: medium;
    font-size: 2em;
    color: #676767;
    text-align: center;
}

#weatherText{
    font-family: 'Roboto Mono';
    font-weight: medium;
    font-size: 1.25em;
    text-align: center;
    font-weight: normal;
}
#weatherCondition {
    font-size: 1rem;
}

#weatherPage {
    height: 500px;
    background-color: #eccbf2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
}



